<nav *ngIf="!isLogin()" class=" navbar navbar-inverse navbar-fixed-top navbar navbar-expand-lg data-toggle"
  style="border: solid rgb(255, 255, 255) 2px; border-radius:3px; height: 20px;">
  <!-- <b>
    <a class="navbar-brand" style="color:rgb(0, 0, 0); font-size:50px;text-shadow: 2px 4px 8px rgba(7, 7, 7, 0.7);">NCS<i style="color:red ;">^</i>
    </a>
  </b> -->
  <img src="assets/NCS logo.png" align="left" style="height:35px; width: 100px; margin-top: 6px;">

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" style="margin-left:75%;">
      <li>
        <a  style="color: black;" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a> &nbsp;
      </li>
      <li>
        <a style="color: black;" [routerLink]="['/registration']"><span class="glyphicon glyphicon-user"></span> Registration</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>
<nav *ngIf="isLogin()" class=" navbar navbar-inverse navbar-fixed-top navbar navbar-expand-lg data-toggle"
  style="border: solid rgb(255, 207, 207) 2px; border-radius:3px;">

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <img src="assets/NCS logo.png" align="left" style="height:35px; width: 100px; margin-top: 9px;">

  <!-- <b>
    <a class="navbar-brand" style="color:rgb(0, 0, 0); font-size:50px;text-shadow: 2px 4px 8px rgba(7, 7, 7, 0.7);">NCS<i style="color:red ;">^</i>
    </a>
  </b> -->
  <!-- <div class="collapse navbar-collapse"> -->
    
    <div class="collapse navbar-collapse">
      <ul class=" nav navbar-nav  navbar-nav mr-auto dropdown-toggle" data-toggle="dropdown">
        <li class="Home"><a [routerLink]="['/navbar2']"  class="glyphicon glyphicon-home" style="color: black;"> Home</a></li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 0, 255);">Student<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/addstudent']">Add Student</a></li>
            <li><a [routerLink]="['/studentlist']">Student List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 0, 255);">College<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/college']">Add College</a></li>
            <li><a [routerLink]="['/collegelist']">College List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"style="color: rgb(0, 0, 255);">Marksheet<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/marksheet']">Add Markshhet</a></li>
            <li><a [routerLink]="['/marksheetlist']">Marksheet List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 0, 255);">Role<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <link><a [routerLink]="['/role']">Add Role</a>
              <link>
            </li>
            <li><a [routerLink]="['/rolelist']">Role List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"style="color: rgb(0, 0, 255);">User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/registration']">Add User</a></li>
            <li><a [routerLink]="['/registrationlist']">User List</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 0, 255);"><span
              class="glyphicon glyphicon-user">
            </span> {{getUser()}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/logout']" style="font-size: 10px;">
                <span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</nav>
<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->