<div class="container">
  <div *ngIf="success == true; then SUCC else FAIL"></div>
  <ng-template #SUCC>
    <p style="color:green">{{message}}</p>
  </ng-template>
  <ng-template #FAIL>
    <p style="color:red">{{message}}</p>
  </ng-template>

  <h1 style="overflow:inherit;">
    <div *ngIf="showEditable == true">UPDATE COLLEGE...</div>
    <div *ngIf="showEditable == false" class="glyphicon glyphicon-education">Add College</div>
    <!-- <span class="glyphicon glyphicon-education">College</span> -->
  </h1>
  <form>
    <div class="form-group">

      <label>Name:</label>
      <input [(ngModel)]="form.name" name="name" type="text" placeholder="Enter Name" class="form-control" required>
      <td style="color: red;">{{inputError.name}}</td>
      <label>Address:</label>
      <input [(ngModel)]="form.address" name="address" type="text" placeholder="Enter Addresss" class="form-control"
        required>
      <td style="color:red">{{inputError.address}}</td>
      <label>City:</label>
      <input [(ngModel)]="form.city" name="city" type="text" placeholder="Enter City" class="form-control" required>
      <td style="color:red">{{inputError.city}}</td>
      <label>Phone No:</label>
      <input [(ngModel)]="form.phoneNo" name="mobileno" type="text" placeholder="Enter Number" class="form-control"
        required>
      <td style="color:red">{{inputError.phoneNo}}</td>
      <label>State:</label>
      <input [(ngModel)]="form.state" name="state" type="text" placeholder="Enter State" class="form-control" required>
      <td style="color:red">{{inputError.state}}</td>
    </div>
    <button (click)="save()" class="btn btn-primary btn theme-btn">Save</button>
    <!-- &nbsp; <button (click)="search()" class="btn btn-primary">Search</button>&nbsp; -->
    <button (click)="clearError()" class="btn theme-btn-btn glyphicon glyphicon-refresh" type="reset" value="clear"></button>
  </form>
  <br>
</div>